version: "3.9"
services:
  streamlit-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: streamlit-app
    ports:
      - "8501:8501"
    volumes:
      - ./app.py:/app/app.py
      - ../spark/data:/app/data:ro
    environment:
      - STREAMLIT_SERVER_PORT=8501
      - MINIO_ENDPOINT=http://minio:9000
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
      - MINIO_BUCKET=dados
      - MINIO_OBJECT=brazil_beef_v2_2_1/brazil_beef_v2_2_1.csv
    networks:
      - mybridge
networks:
  mybridge:
    external: true
